@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-950 text-white;
}

body::selection {
  @apply bg-green-300 text-slate-800;
}

@layer utilities {
  .btn-outline {
    @apply border rounded-full border-green-300 px-8 py-3 text-green-300 hover:bg-green-300 hover:text-slate-800 transition-colors duration-300 ease-in-out;
  }

  .btn {
    @apply border border-green-300 bg-green-300 rounded-full px-8 py-3 text-slate-800 hover:bg-transparent hover:text-green-300 transition-colors duration-300 ease-in-out;
  }

  .skill-hover {
    @apply hover:-translate-y-1 hover:opacity-100 hover:font-bold hover:scale-105
      transition-all duration-500 ease-in-out;
  }

  .fade-in {
    animation: fade-in-animation both;
    animation-timeline: view(70% 0%);
  }
  @keyframes fade-in-animation {
    from {
      opacity: 0;
      transform: scale(0.9) translateY(-10px);
      filter: blur(5px);
    } to {
      opacity: 1;
      transform: scale(1) translateY(0);
      filter: blur(0);
    }
  }
}