@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #575757;
  --background-start-color: #FFFFFF;
  --background-end-color: #D6D6D6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #FFFFFF;
    --background-start-color: #000000;
    --background-end-color: #03231b;
  }
}

body {
  color: var(--foreground-color);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-color)
    )
    var(--background-start-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
